.git
.github
.gradle
.idea
.secrets
.env
**/.DS_Store
**/application.yml
**/application.properties
**/firebase/**
**/keys/*.pem
**/build/classes
**/build/generated
**/build/reports
**/build/resources
**/build/test-results
**/build/tmp
libraries/common/build
performance-tests

